.landing-page {
   display: grid;
}

.landing-page-banner {
   background-color: blue;
}

.lp-logo {
   color: red;
}

.lp-second-page {
   display: flex;
}

.lp-item-1 {

}

.lp-item-2 {

}

.lp-item-3 {
   
}