.landing-page {
  /* border: solid 1px black; */
  display: grid;
  place-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  height: 100%;
}

.landing-page-banner {
  background-image: linear-gradient(to right, red , yellow);
  border: 1.5px solid black;
  height: 80vh;
  width: 80vh;
  border-radius: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.lp-main-tag {
  color: black;
  font-size: 5rem;
}

.landing-page-div-two {
  border: solid 1px black;
  /* background-color: rgba(255, 228, 196, .7); */
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  border-bottom-left-radius: 3em;
  /* width: 100%; */
  margin-top: 10rem;
  padding: 1em;
}

.lp-second-page {
  padding-top: 2em;
  display: flex;
  justify-content: space-around;
}

.lp-item-1, 
.lp-item-2, 
.lp-item-3 {
  padding-left: 2em;
  padding-right: 2em;
  /* border: solid 1px red; */
}

.lp-item-1:hover {
  border: 3.5px solid salmon;
  border-radius: 2em;
}

.lp-item-2:hover {
  border: 3.5px solid salmon;
  border-radius: 2em;
}

.lp-item-3:hover {
  border: 3.5px solid salmon;
  border-radius: 2em;
}
