.landing-page {
  border: solid 1px black;
  display: grid;
  place-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  height: 100%;
}

.landing-page-banner {
  background-color: rgba(0, 0, 255, .55);
  height: 30rem;
  width: 30rem;
  border-radius: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lp-main-tag {
  color: white;
  font-size: 5rem;
}

.landing-page-div-two {
  /* border: solid 1px black; */
  background-color: rgba(255, 228, 196, .7);
  border-radius: 3em;
  width: 100%;
  margin-top: 10rem;
  padding: 1em;
}

.lp-second-page {
  padding-top: 2em;
  display: flex;
  justify-content: space-around;
}

.lp-item-1, 
.lp-item-2, 
.lp-item-3 {
  padding-left: 2em;
  padding-right: 2em;
  /* border: solid 1px red; */
}

