.login {
   border: solid 1px salmon;
   padding-bottom: 2em;
}

.login-form {
   display: flex;
   flex-direction: column;
   padding: 2em 10em 2em 10em;
   margin: 1em 1em;
   border: solid 1px green;
}

.login-form input {
   margin-bottom: 1em;
}

.login-form button {
   background-color: rgb(0, 0, 255, .5);
   color: white;
   height: 2em;
   border: solid 1px white;
   border-radius: .5em;
   width: 70%;
   margin-left: auto;
   margin-right: auto;
}